<launch>
    <include file="$(find fetch_gazebo)/launch/simulation.launch">
        <arg name="gui" value="false"/>
    </include>
	<include file="$(find fetch_moveit_config)/launch/move_group.launch"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find manipulation)/config/fetch.rviz" />
	<node name="joint_states_listener_node" pkg="manipulation" type="joint_states_listener.py" />
    <include file="$(find sound_play)/soundplay_node.launch" />

</launch>
